In this notebook, I look through the males, and verify that they are correct

In [1]:
%run ../scripts/notebook_settings.py

In [2]:
vcf_path = "/faststorage/project/baboondiversity/people/eriks/baboon_first_analysis/hap_chrX.vcf.gz"

In [3]:
meta_data_samples = pd.read_table("../data/metadata_with_x_missing.txt", sep=" ")

Generating the index list for each species/gender combination.

In [4]:
meta_data_samples = pd.read_table("/faststorage/project/baboondiversity/people/eriks/baboon_first_analysis/data/metadata_with_x_missing.txt", sep=" ")
d_d = {}
index_list = []
for species in meta_data_samples.Species.unique():
    if species == "gelada":
        continue
    m_s = meta_data_samples.loc[meta_data_samples.Species == species]
    d_d[species] = {}
    for sex in ["F", "M"]:
        i_s = m_s.loc[m_s.Sex ==sex].callset_index.values.tolist()
        d_d[species][sex] = i_s
        if sex=="M":
            index_list.extend(i_s)
index_list

[26,
 28,
 34,
 38,
 39,
 40,
 41,
 42,
 44,
 45,
 46,
 47,
 59,
 60,
 94,
 103,
 119,
 120,
 121,
 122,
 123,
 178,
 179,
 180,
 184,
 185,
 187,
 188,
 189,
 193,
 194,
 195,
 196,
 198,
 199,
 200,
 203,
 207,
 2,
 12,
 13,
 15,
 18,
 29,
 31,
 53,
 57,
 58,
 77,
 78,
 80,
 81,
 82,
 86,
 88,
 89,
 92,
 96,
 98,
 102,
 111,
 113,
 116,
 152,
 154,
 155,
 157,
 159,
 160,
 161,
 163,
 164,
 165,
 166,
 167,
 171,
 172,
 173,
 174,
 175,
 181,
 182,
 183,
 190,
 191,
 208,
 209,
 210,
 211,
 212,
 214,
 215,
 216,
 217,
 218,
 219,
 225,
 226,
 8,
 128,
 129,
 131,
 134,
 135,
 136,
 137,
 138,
 139,
 141,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 124]

In [5]:
for species in meta_data_samples.Species.unique():
    if species == "gelada":
        continue
    print(species)

cynocephalus
anubis
kindae
hamadryas
papio
ursinus (grayfoot)

In [6]:
meta_subset = meta_data_samples.loc[meta_data_samples.callset_index.isin(index_list)]
meta_subset = meta_subset.reindex(index_list).reset_index(drop=True)
meta_subset["callset_index"] = list(range(len(meta_subset)))
meta_subset

,PGDP_ID,Provider_ID,Provider,Genus,Species,Origin,Sex,address,longitude,latitude,callset_index,C_origin,x_missing
0,PD_0215,13RUM1130716,Knauf/Chuma/Roos,Papio,cynocephalus,"Ruaha, Tanzania",M,"Ruaha, Ulanga, Morogoro, Coastal Zone, Tanzania",36.714814,-8.895386,0,"Cynocephalus, Central Tanzania",0.014343
1,PD_0217,17RUM5140716,Knauf/Chuma/Roos,Papio,cynocephalus,"Ruaha, Tanzania",M,"Ruaha, Ulanga, Morogoro, Coastal Zone, Tanzania",36.714814,-8.895386,1,"Cynocephalus, Central Tanzania",0.015386
2,PD_0223,02UNM1220616,Knauf/Chuma/Roos,Papio,cynocephalus,"Udzungwa, Tanzania",M,"Udzungwa National Park, Iringa, Southern Highl...",36.725746,-7.805251,2,"Cynocephalus, Central Tanzania",0.015105
3,PD_0227,27UNM1160317,Knauf/Chuma/Roos,Papio,cynocephalus,"Udzungwa, Tanzania",M,"Udzungwa National Park, Iringa, Southern Highl...",36.725746,-7.805251,3,"Cynocephalus, Central Tanzania",0.014568
4,PD_0228,01MNM1300916,Knauf/Chuma/Roos,Papio,cynocephalus,"Mahale, Tanzania",M,"Mahale National Park, Kigoma, Western Zone, Ta...",29.883426,-6.203292,4,"Cynocephalus, Western Tanzania",0.015121
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,PD_0398,T37,Zinner/Fischer,Papio,papio,"Niokolo-Koba, Senegal",M,"Niokolo Koba, Kédougou, Sénégal",-12.748341,13.078081,121,"Papio, Senegal",0.012534
122,PD_0399,T49,Zinner/Fischer,Papio,papio,"Niokolo-Koba, Senegal",M,"Niokolo Koba, Kédougou, Sénégal",-12.748341,13.078081,122,"Papio, Senegal",0.012503
123,PD_0400,T51,Zinner/Fischer,Papio,papio,"Niokolo-Koba, Senegal",M,"Niokolo Koba, Kédougou, Sénégal",-12.748341,13.078081,123,"Papio, Senegal",0.011650
124,PD_0401,T66,Zinner/Fischer,Papio,papio,"Niokolo-Koba, Senegal",M,"Niokolo Koba, Kédougou, Sénégal",-12.748341,13.078081,124,"Papio, Senegal",0.012213
125,PD_0692,35221_BZ12030,Rogers/Jolly/Phillips-Conroy,Papio,ursinus (grayfoot),"Dendro Park, Zambia",M,"Dendro Balla Balla Safaris, Namwala, Zambia",26.062550,-16.145438,125,"Ursinus, Zambia",0.014076

In [7]:
meta_subset.to_csv("../data/metadata_only_males_species_ordering.txt", sep = " ", index=False)

In [8]:
vcf = allel.read_vcf(vcf_path, numbers={"calldata/GT": 1})

Fields in the vcf

In [9]:
vcf.keys()

dict_keys(['samples', 'calldata/GT', 'variants/ALT', 'variants/CHROM', 'variants/FILTER_PASS', 'variants/ID', 'variants/POS', 'variants/QUAL', 'variants/REF'])

Checking that the keys are correctly indexed

In [10]:
vcf["samples"].take(125)

'PD_0692'

In [11]:
vcf["variants/POS"]

array([       37,        57,       157, ..., 143691548, 143691549,
       143691566], dtype=int32)

Picking the ursinus out

In [12]:
allel.HaplotypeArray(vcf["calldata/GT"])

<HaplotypeArray shape=(2923212, 126) dtype=int8>
1 1 0 1 . ... 1 1 1 1 1
1 1 0 1 . ... 0 0 0 0 1
1 0 . 0 1 ... 0 0 0 0 0
...
0 0 0 0 0 ... 0 0 0 0 0
0 0 0 0 0 ... 0 0 0 0 0
1 1 1 1 1 ... 1 1 1 1 1

In [13]:
ursinus_test = allel.HaplotypeArray(vcf["calldata/GT"]).take([125], axis=1)

In [14]:
ursinus_test

<HaplotypeArray shape=(2923212, 1) dtype=int8>
1
1
0
...
0
0
1

Checking the degree of heterozygosity for each individual

Checking missingness

In [15]:
ursinus_test.is_missing().sum(axis=0), ursinus_test.is_alt().sum(axis=0)

(array([56858]), array([327901]))

Code to subset for het sites.

In [16]:
ursinus_male = allel.GenotypeArray(vcf["calldata/GT"]).take([124], axis=1)
het_or_not = ursinus_male.is_het()

TypeError: bad number of dimensions: expected 3; found 2

In [ ]:
het_or_not

In [ ]:
if het_or_not.sum() > 0:
    ursinus_test.compress(het_or_not.reshape(1,-1)[0])

In [ ]:
alleles = set(([0, 1]))
len(alleles)

In [ ]:
("0/2")[0]

In [ ]:
calls = "0/0"
alleles = set([calls[0], calls[2]])
list(alleles)[0]

In [ ]:
a, = alleles
a