Checking papio fasta-files

In [41]:
%run ../scripts/notebook_settings.py

In [17]:
input_file = "/home/eriks/primatediversity/people/erik/panu3_ref/Papio_anubis.Panu_3.0.dna.chromosome.X.fa"

In [18]:
from Bio import SeqIO

fasta_sequences = SeqIO.parse(open(input_file),'fasta')
for fasta in fasta_sequences:
    name, sequence = fasta.id, str(fasta.seq)
    print(name, len(sequence))

X 143691637

In [56]:
input_file = "/home/eriks/primatediversity/people/erik/panu3_ref/Papio_anubis.Panu_3.0.dna.masktest3.fa"
mask_file = "/home/eriks/primatediversity/people/erik/data/callmasks/cutoff_10_all_baboons_chrX_min_third.bed"

In [57]:
df = pd.read_csv(mask_file, sep='\t',
                         comment='t', header=None, names=["chrom", "chromStart", "chromEnd"])

In [51]:
from Bio import SeqIO

fasta_sequences = SeqIO.parse(open(input_file),'fasta')
for fasta in fasta_sequences:
    name, sequence = fasta.id, str(fasta.seq)
    print(name, len(sequence))

X 143691637

In [58]:
(df.chromEnd.sum()-df.chromStart.sum())/len(sequence)

0.9091879160650108

In [53]:
df

         chrom  chromStart   chromEnd
0         chrX         190        191
1         chrX         194        195
2         chrX         200        201
3         chrX         201        203
4         chrX         203        204
...        ...         ...        ...
41633044  chrX   143690772  143690774
41633045  chrX   143690774  143690775
41633046  chrX   143690775  143690777
41633047  chrX   143690778  143690779
41633048  chrX   143690779  143690781

[41633049 rows x 3 columns]

In [52]:
sequence.count("N")/len(sequence)

0.006427813192774747

In [39]:
sequence.count("N")

923623

In [31]:
len(sequence)

143691637