In this notebook, I will check the input to chromopainter/finestructure, as well as create some supporting files.

In [2]:
%run ../scripts/notebook_settings.py

In [2]:
meta_data_samples = pd.read_table("../data/metadata_with_x_missing.txt", sep=" ")
vcf = "/faststorage/project/baboondiversity/data/haploidified_chrX_males/hap_chrX_males.vcf.gz"

In [3]:
callset = allel.read_vcf(vcf)

In [4]:
individuals = callset["samples"]

In [5]:
individuals

array(['PD_0215', 'PD_0217', 'PD_0223', 'PD_0227', 'PD_0228', 'PD_0229',
       'PD_0230', 'PD_0231', 'PD_0233', 'PD_0234', 'PD_0235', 'PD_0236',
       'PD_0268', 'PD_0269', 'PD_0637', 'PD_0658', 'PD_0687', 'PD_0688',
       'PD_0689', 'PD_0690', 'PD_0691', 'PD_0746', 'PD_0747', 'PD_0748',
       'PD_0752', 'PD_0753', 'PD_0755', 'PD_0756', 'PD_0757', 'PD_0761',
       'PD_0762', 'PD_0763', 'PD_0764', 'PD_0766', 'PD_0767', 'PD_0768',
       'PD_0771', 'PD_0775', 'Sci_30877', 'PD_0201', 'PD_0202', 'PD_0204',
       'PD_0207', 'PD_0218', 'PD_0220', 'PD_0242', 'PD_0266', 'PD_0267',
       'PD_0493', 'PD_0494', 'PD_0496', 'PD_0497', 'PD_0498', 'PD_0502',
       'PD_0504', 'PD_0505', 'PD_0508', 'PD_0642', 'PD_0650', 'PD_0654',
       'PD_0679', 'PD_0681', 'PD_0684', 'PD_0720', 'PD_0722', 'PD_0723',
       'PD_0725', 'PD_0727', 'PD_0728', 'PD_0729', 'PD_0731', 'PD_0732',
       'PD_0733', 'PD_0734', 'PD_0735', 'PD_0739', 'PD_0740', 'PD_0741',
       'PD_0742', 'PD_0743', 'PD_0749', 'PD_0750', 'PD_0751', 'PD_0758',
       'PD_0759', 'PD_0776', 'PD_0777', 'PD_0778', 'PD_0779', 'PD_0780',
       'PD_0782', 'PD_0783', 'PD_0784', 'PD_0785', 'PD_0786', 'PD_0787',
       'PD_0793', 'PD_0794_BAB', 'Sci_97124', 'PD_0696', 'PD_0697',
       'PD_0699', 'PD_0702', 'PD_0703', 'PD_0704', 'PD_0705', 'PD_0706',
       'PD_0707', 'PD_0709', 'PD_0711', 'PD_0712', 'PD_0713', 'PD_0714',
       'PD_0715', 'PD_0716', 'PD_0717', 'PD_0718', 'PD_0719', 'PD_0395',
       'PD_0396', 'PD_0397', 'PD_0398', 'PD_0399', 'PD_0400', 'PD_0401',
       'PD_0692'], dtype=object)

In [12]:
pop_list = []
inclusion_list = []
for i in individuals:
    if i[0] == "S":
        i = i[4:]
    if meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["Species"].values[0] == "ursinus (grayfoot)":
        pop_list.append("ursinus")
    else:
        pop_list.append(meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["Species"].values[0])
    inclusion_list.append(1)

In [13]:
pop_df = pd.DataFrame()
pop_df["ID"] = individuals
pop_df["population"] = pop_list
pop_df["inclusion"] = inclusion_list

In [15]:
pop_df

          ID    population  inclusion
0    PD_0215  cynocephalus          1
1    PD_0217  cynocephalus          1
2    PD_0223  cynocephalus          1
3    PD_0227  cynocephalus          1
4    PD_0228  cynocephalus          1
..       ...           ...        ...
121  PD_0398         papio          1
122  PD_0399         papio          1
123  PD_0400         papio          1
124  PD_0401         papio          1
125  PD_0692       ursinus          1

[126 rows x 3 columns]

In [16]:
pop_df.to_csv("/faststorage/project/baboondiversity/data/haploidified_chrX_males/idfile.ids",
              sep=" ", header=False, index=False)

In [12]:
meta_data_samples_Sci = meta_data_samples.copy()
for i, row in meta_data_samples_Sci.iterrows():
    if row.PGDP_ID[0] != "P":
        meta_data_samples_Sci.at[i, "PGDP_ID"] = "Sci_"+str(row.PGDP_ID)

In [22]:
meta_data_samples_Sci.to_csv("../data/metadata_Sci_included.txt",
              sep=" ", header=False, index=False)
meta_data_samples_Sci.iloc[8:11]

,PGDP_ID,Provider_ID,Provider,Genus,Species,Origin,Sex,address,longitude,latitude,callset_index,C_origin,x_missing
8,Sci_97124,97124,Jolly/Phillips-Conroy,Papio,hamadryas,"Awash, Ethiopia",M,"አዋሽ / Awash, Zone 3, አፋር ክልል / Afar, ኢትዮጵያ",40.167674,8.992496,8,"Hamadryas, Ethiopia",0.021821
9,PD_0067,1043,Roos,Theropithecus,gelada,captive,M,"SDSU Captive Wildlife Research Facility, Brook...",-96.793280,44.334031,9,"Gelada, Captive",0.024995
10,PD_0199,09SNF1101115,Knauf/Chuma/Roos,Papio,anubis,"Serengeti, Tanzania",F,"Serengeti, Mara, Lake Zone, Tanzania",34.742544,-1.996626,10,"Anubis, Tanzania",0.003591

Generating an idfile with all individuals

In [3]:
zarr_dir = "/faststorage/project/baboondiversity/data/PG_panu3_zarr_12_03_2021/callset.zarr/chr20"
#Opening the zarr data
callset = zarr.open_group(zarr_dir, mode="r")

In [4]:
individuals = callset["samples"][:]

In [5]:
meta_data_samples_Sci = meta_data_samples.copy()
for i, row in meta_data_samples_Sci.iterrows():
    if row.PGDP_ID[0] != "P":
        meta_data_samples_Sci.at[i, "PGDP_ID"] = "Sci_"+str(row.PGDP_ID)

In [11]:
meta_data_samples_Sci[:9].PGDP_ID.values

array(['Sci_16066', 'Sci_16098', 'Sci_30877', 'Sci_30977', 'Sci_34449',
       'Sci_34474', 'Sci_38168', 'Sci_97074', 'Sci_97124'], dtype=object)

Converting ldhat files to genetic maps.
Assuming that effective population size for chrX is 25000.

In [3]:
ldhat_path = "/faststorage/project/primatediversity/data/PG_baboons_pananu3_23_2_2021_ldhat/maps/chrX.map"
uniform_rec_path = "/faststorage/project/baboondiversity/data/haploidified_chrX_males/uniform_rec.recombfile"

In [4]:
ldhat_map = pd.read_csv(ldhat_path, sep="\t")
uni_map = pd.read_csv(uniform_rec_path, sep=" ")

In [5]:
ldhat_map

              POS  Mean_rho  Median_rho      L95      U95
0             157   2.08310     2.07973  1.69130  2.45233
1             170   2.08542     2.08008  1.70064  2.44515
2             240   2.09169     2.08121  1.71609  2.44834
3             279   2.09265     2.08121  1.71767  2.44834
4             311   2.09261     2.08121  1.73304  2.44515
...           ...       ...         ...      ...      ...
341637  143689426   0.55022     0.62866  0.02716  0.97126
341638  143691423   0.55087     0.62797  0.02716  0.97731
341639  143691435   0.55180     0.62794  0.02716  0.97868
341640  143691467   0.55218     0.62652  0.02716  0.97868
341641  143691502       NaN         NaN      NaN      NaN

[341642 rows x 5 columns]

In [6]:
uni_map

         start.pos  recom.rate.perbp
0               37      1.000000e-07
1               57      1.000000e-07
2              157      1.000000e-07
3              170      1.000000e-07
4              216      1.000000e-07
...            ...               ...
2923207  143691509      1.000000e-07
2923208  143691526      1.000000e-07
2923209  143691548      1.000000e-07
2923210  143691549      1.000000e-07
2923211  143691566      0.000000e+00

[2923212 rows x 2 columns]

Math: Ldhat estimates it as 4*Ne*r/kb, and I want it in M/b.
With an additional twist that ldhat does not have all positions present.
I set Ne as 20000, but it could be many other sizes.

In [59]:
ldhat_map["convert_r"] = ldhat_map.Mean_rho/(4*20000*1000)

Many positions are not present in the recombination map made by Juraj, so these spaces have to be filled.

In [54]:
ld_hat_i = 0
ldhat_pos = ldhat_map["POS"][0]
ld_hat_prev_pos = 0
last_ldhat = int(ldhat_map["POS"][-2:-1])
last_uni = int(uni_map["start.pos"][-1:])
recom_rate = []
next_pos = 0
for i, row in uni_map.iterrows():
    current_pos = row["start.pos"]
    if current_pos >= ldhat_pos and current_pos < last_ldhat:
        ld_hat_i += 1
        ld_hat_prev_pos = ldhat_pos
        ldhat_pos = ldhat_map["POS"][ld_hat_i]
    if last_uni == next_pos:
        recom_rate.append(0)
    else:
        next_pos = uni_map["start.pos"][i+1]
        recom_rate.append(ldhat_map["convert_r"][ld_hat_i]*(next_pos-current_pos)/(ldhat_pos-ld_hat_prev_pos))

In [55]:
uni_map["recom_variable"] = recom_rate

In [56]:
uni_map["recom_variable"].mean()

2.6307473784495847e-10

In [57]:
uni_map.loc[(uni_map["start.pos"] > 62891264) & (uni_map["start.pos"] < 62893264)]

         start.pos  recom.rate.perbp  recom_variable
1343051   62891265      1.000000e-07    3.377436e-11
1343052   62891269      1.000000e-07    1.182103e-10
1343053   62891283      1.000000e-07    1.350975e-10
1343054   62891299      1.000000e-07    8.443591e-12
1343055   62891300      1.000000e-07    3.461872e-10
1343056   62891341      1.000000e-07    5.235026e-10
1343057   62891403      1.000000e-07    3.377436e-11
1343058   62891407      1.000000e-07    2.533077e-10
1343059   62891437      1.000000e-07    2.533077e-11
1343060   62891440      1.000000e-07    1.942026e-10
1343061   62891463      1.000000e-07    1.688718e-11
1343062   62891465      1.000000e-07    2.870821e-10
1343063   62891499      1.000000e-07    5.488334e-10
1343064   62891564      1.000000e-07    9.287950e-11
1343065   62891575      1.000000e-07    5.910514e-11
1343066   62891582      1.000000e-07    8.443591e-12
1343067   62891583      1.000000e-07    1.097667e-10
1343068   62891596      1.000000e-07    7.599232e-11
1343069   62891605      1.000000e-07    4.221795e-11
1343070   62891610      1.000000e-07    2.533077e-11
1343071   62891613      1.000000e-07    1.182103e-10
1343072   62891627      1.000000e-07    2.009575e-09
1343073   62891865      1.000000e-07    8.950206e-10
1343074   62891971      1.000000e-07    9.372386e-10
1343075   62892082      1.000000e-07    9.456822e-10
1343076   62892194      1.000000e-07    1.089223e-09
1343077   62892323      1.000000e-07    8.105847e-10
1343078   62892419      1.000000e-07    2.533077e-11
1343079   62892422      1.000000e-07    2.026462e-10
1343080   62892446      1.000000e-07    1.435410e-10
1343081   62892463      1.000000e-07    8.781335e-10
1343082   62892567      1.000000e-07    7.092616e-10
1343083   62892651      1.000000e-07    6.079385e-10
1343084   62892723      1.000000e-07    2.448641e-10
1343085   62892752      1.000000e-07    1.773154e-10
1343086   62892773      1.000000e-07    2.617513e-10
1343087   62892804      1.000000e-07    8.190283e-10
1343088   62892901      1.000000e-07    1.266539e-10
1343089   62892916      1.000000e-07    2.533077e-10
1343090   62892946      1.000000e-07    5.910514e-11
1343091   62892953      1.000000e-07    7.599232e-11
1343092   62892962      1.000000e-07    4.559539e-10
1343093   62893016      1.000000e-07    7.599232e-11
1343094   62893025      1.000000e-07    2.448641e-09

In [58]:
uni_map.to_csv("/faststorage/project/baboondiversity/data/haploidified_chrX_males/approx_rec.recombfile",
              sep=" ", index=False, columns=["start.pos", "recom_variable"])