In this notebook, I will check the input to chromopainter/finestructure, as well as create some supporting files.

In [1]:
%run ../scripts/notebook_settings_lean.py
meta_data_samples = pd.read_table("../data/metadata_with_x_missing.txt", sep=" ")

/faststorage/project/baboondiversity/people/eriks/baboon_first_analysis/scripts/notebook_settings_lean.py:7: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('retina', 'png')

In [4]:
phase_file = "/faststorage/project/baboondiversity/data/haploidified_chrX_males/chrX_v3.phase"
read_phase = pd.read_csv(phase_file)
#vcf = "/faststorage/project/baboondiversity/data/haploidified_chrX_males/hap_chrX_males.vcf.gz"

In [5]:
chromosome_numbers = ['{}'.format(x) for x in range(1, 21)] + ['X']
",".join(chromosome_numbers)

'1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,X'

First, an implementation to create a preliminary population list - the most recent implementation is in paint05, where I create it based on fineSTRUCTURE results.

In [6]:
callset = allel.read_vcf(vcf)

NameError: name 'allel' is not defined

In [ ]:
individuals = callset["samples"]

In [ ]:
individuals

Chromopainter id/pop list

In [7]:
meta_data_samples.Origin.unique()

array(['Mikumi, Tanzania', 'Aberdare, Kenya', 'Chunga, Zambia', 'captive',
       'Awash, Ethiopia', 'Serengeti, Tanzania', 'Arusha, Tanzania',
       'Ngorongoro, Tanzania', 'Ruaha, Tanzania', 'Gombe, Tanzania',
       'Udzungwa, Tanzania', 'Mahale, Tanzania', 'Katavi, Tanzania',
       'Selous, Tanzania', 'Lake Manyara, Tanzania',
       'Tarangire, Tanzania', 'Niokolo-Koba, Senegal',
       'Issa Valley, Tanzania', 'Dendro Park, Zambia', 'Filoha, Ethiopia',
       'Gog Woreda, Gambella region, Ethiopia'], dtype=object)

In [8]:
pop_list = []
inclusion_list = []
for i in individuals:
    if i[0] == "S":
        i = i[4:]
    t_pop = meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["Origin"].values[0]
    C_origin = meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["C_origin"].values[0]
    if C_origin != "Anubis, Kenya":
        inclusion_list.append(1)
    else:
        inclusion_list.append(0)
    t_pop = C_origin.replace(" ", "_").replace(",", "" )
    pop_list.append(t_pop)

NameError: name 'individuals' is not defined

In [ ]:
len(pop_list)

In [ ]:
pop_df = pd.DataFrame()
pop_df["ID"] = individuals
pop_df["population"] = pop_list
pop_df["inclusion"] = inclusion_list

In [ ]:
pop_df.loc[pop_df["inclusion"] == 0]

In [ ]:
pop_df.to_csv("/faststorage/project/baboondiversity/data/haploidified_chrX_males/idfile_males_8_cluster.ids",
              sep=" ", header=False, index=False)

In [ ]:
meta_data_samples_Sci = meta_data_samples.copy()
for i, row in meta_data_samples_Sci.iterrows():
    if row.PGDP_ID[0] != "P":
        meta_data_samples_Sci.at[i, "PGDP_ID"] = "Sci_"+str(row.PGDP_ID)

In [ ]:
meta_data_samples_Sci.to_csv("../data/metadata_Sci_included.txt",
              sep=" ", header=False, index=False)
meta_data_samples_Sci.iloc[8:11]

Generating an idfile with all individuals

In [ ]:
vcf = "/home/eriks/baboondiversity/data/fs_input_unlinked/chr20.vcf.gz"
callset = allel.read_vcf(vcf)

In [ ]:
individuals = callset["samples"]

In [ ]:
pop_list = []
inclusion_list = []
for i in individuals:
    if i[0] == "S":
        i = i[4:]
    inclusion_list.append(1)       
    if meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["Species"].values[0] == "ursinus (grayfoot)":
        pop_list.append("Ursinus")
    else:
        t_pop = meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["C_origin"].values[0]
        t_pop = t_pop.replace(" ", "_").replace(",", "" )
        pop_list.append(t_pop)

In [ ]:
pop_df = pd.DataFrame()
pop_df["ID"] = individuals
pop_df["population"] = pop_list
pop_df["inclusion"] = inclusion_list

In [ ]:
pop_df.to_csv("/faststorage/project/baboondiversity/data/haploidified_chrX_males/idfile_autosomes.ids",
              sep=" ", header=False, index=False)

Relate pop list

In [9]:
#Sampling loc version
id_list = []
pop_list = []
group_list = []
sex_list = []
for i, row in meta_data_samples.iterrows():
    if row.PGDP_ID[0] != "P":
        id_list.append("Sci_"+row.PGDP_ID)
    else:
        id_list.append(row.PGDP_ID)
    pop_list.append("".join([x[:3] for x in row.Origin.split(", ")]))
    group_list.append(row.C_origin)
    if row.Sex == "F":
        sex_list.append("female")
    else:
        sex_list.append("male")

In [10]:
#8 Cluster version
id_list = []
pop_list = []
group_list = []
sex_list = []
for i, row in meta_data_samples.iterrows():
    if row.PGDP_ID[0] != "P":
        id_list.append("Sci_"+row.PGDP_ID)
    else:
        id_list.append(row.PGDP_ID)
    pop_list.append(row.C_origin)
    group_list.append(row.C_origin)
    if row.Sex == "F":
        sex_list.append("female")
    else:
        sex_list.append("male")

In [11]:
df_relate_pop = pd.DataFrame({"ID": id_list, "POP": pop_list, "GROUP": group_list, "SEX": sex_list})

In [12]:
df_relate_pop

,ID,POP,GROUP,SEX
0,Sci_16066,"Cynocephalus, Central Tanzania","Cynocephalus, Central Tanzania",female
1,Sci_16098,"Cynocephalus, Central Tanzania","Cynocephalus, Central Tanzania",female
2,Sci_30877,"Anubis, Kenya","Anubis, Kenya",male
3,Sci_30977,"Anubis, Kenya","Anubis, Kenya",female
4,Sci_34449,"Kindae, Zambia","Kindae, Zambia",female
...,...,...,...,...
222,PD_0790,"Kindae, Zambia","Kindae, Zambia",female
223,PD_0791,"Kindae, Zambia","Kindae, Zambia",female
224,PD_0792,"Kindae, Zambia","Kindae, Zambia",female
225,PD_0793,"Kindae, Zambia","Kindae, Zambia",male
226,PD_0794_BAB,"Kindae, Zambia","Kindae, Zambia",male

In [16]:
relate_map = {"Cynocephalus, Central Tanzania": "Eastern Yellow", "Anubis, Kenya": "Kenyan Olive",
              "Kindae, Zambia": "Kindae", "Gelada, Captive": "Gelada", "Hamadryas, Ethiopia": "Hamadryas",
              "Anubis, Tanzania": "Tanzanian Olive", "Cynocephalus, Western Tanzania": "Western Yellow",
              "Papio, Senegal": "Papio", "Ursinus, Zambia": "Chacma", "Anubis, Ethiopia": "Ethiopian Olive"}

In [17]:
df_relate_pop["POP"] = df_relate_pop["POP"].map(relate_map)
df_relate_pop["GROUP"] = df_relate_pop["GROUP"].map(relate_map)

In [21]:
df_relate_pop.to_csv("/home/eriks/baboondiversity/people/eriks/second_analysis_baboons/data/pops/all_inds_8cluster.sample", sep=" ")

In [23]:
df_relate_pop.loc[(df_relate_pop.SEX == "female")
                  & (df_relate_pop.POP != "Kenyan Olive")].to_csv("/home/eriks/baboondiversity/people/eriks/second_analysis_baboons/data/pops/all_females_8cluster.sample", sep=" ")

Generalized setup to handle the input from Alan in the Phased chromosomes.
Including both generating the idfile (should only be done once for all autosomes) and the recombination map based on Jurajs workflow. It will then be transformed based on the supplied conversion script.
As an update, I am going to use SMC++ to estimate the Ne for the anubis baboons on each chrom, to make the maps more accurate.

In [28]:
chromosome_numbers = ['{}'.format(x) for x in range(1, 21)] + ['X']
hist_path = "../software/smcpp_workflow/chr{}a_st_smallplot.csv"
Ne_dict = {}
for chrom in chromosome_numbers:
    pop_hist = pd.read_csv(hist_path.format(chrom))
    harm_Ne = 1000000
    denom_Ne = 0
    minimal_Ne = harm_Ne
    for i, row in pop_hist.iterrows():
        if row.x/6 < harm_Ne:
            denom_Ne += (pop_hist.iloc[i+1].x-row.x)/row.y
            harm_Ne = 1/(denom_Ne/pop_hist.iloc[i+1].x)
            minimal_Ne = min(minimal_Ne, harm_Ne)
    Ne_dict[chrom] = harm_Ne
    print(minimal_Ne, harm_Ne)

7473.349352945704 17097.121092364443
7273.326606927247 14029.500469998282
7039.5754246358665 14756.665870468743
5742.725356297606 16439.430909852552
5844.058234334789 16311.35801727351
4760.756025311925 14734.676544474505
4598.321117073024 14468.506808106898
4877.819465580731 12815.759200288914
4913.575637351899 12823.73029306598
5305.133409768961 14667.04802756907
5270.552431947253 14691.951496081092
5114.902213552136 14725.99552141701
4719.5310790306 12669.60728499769
5025.989372581273 14494.624867967754
5054.82032093501 14578.93663951652
4903.9243458556775 12758.09157634804
5080.564921783044 14550.63476622679
5043.102879091637 14473.86726954616
4926.281466167146 12822.958527635743
5129.683847878929 14632.977968603689
4963.957869099318 12516.989159437499

In [16]:
#Calculating the harmonic mean based on chr8 and chr2
8976.660682226211/((1/(3.5409727524577397)+1/(2.8595209468869247)+1/(2.2281460431700073)+1/(1.6299446499608925)+ 
   1/(0.9971551117394005)+1/(0.6836458906780845)+1/(1.934691292087296)+1/(2.0455731540092916))/8)
8976.660682226211/((1/(3.6120776873676523)+1/(3.123235380059445)+1/(2.6965802356305666)+1/(2.300463108174445)+ 
   1/(1.6831561133199526)+1/(0.7702407917227159)+1/(0.07237968762893712)+1/(2.290864951232619))/8)
#0.6836458906780845*9000

4092.5012155205086

In [3]:
#vcf = "/home/eriks/baboondiversity/data/PG_panu3_phased_chromosomes_4_7_2021/chr{}_phased_rehead.vcf.gz"
ldhat_path = "/faststorage/project/primatediversity/data/PG_baboons_pananu3_23_2_2021_ldhat/maps0.01/chr{}.map"
Ne = 8000
chromosome_numbers = ['{}'.format(x) for x in range(1, 21)] + ['X']

for chrom in chromosome_numbers:
    ldhat_map = pd.read_csv(ldhat_path.format(chrom), sep="\t")
    if chrom == "X":
        Ne = Ne/1.5
    ldhat_map["COMBINED_rate(cM/Mb)"] = ldhat_map.Mean_rho*1000*100/(4*Ne)
    print("Mean cM/Mb", ldhat_map["COMBINED_rate(cM/Mb)"].mean())
    ldhat_map["i_l"] = np.append(ldhat_map["POS"][1:], ldhat_map["POS"][-1:])-ldhat_map["POS"]
    print("Chromosome-wide", np.nansum(ldhat_map["i_l"]*ldhat_map["COMBINED_rate(cM/Mb)"])/sum(ldhat_map["POS"][-1:]))
    ldhat_map["chrom"] = "chr{}".format(chrom)
    df = (pd.DataFrame(data={"chromosome": ldhat_map["chrom"], "position": ldhat_map["POS"],
                             "COMBINED_rate(cM/Mb)": ldhat_map["COMBINED_rate(cM/Mb)"], "pos_l": ldhat_map["POS"]}))
    df["Genetic_Map(cM)"] = (ldhat_map["i_l"] *df["COMBINED_rate(cM/Mb)"]/1000000).cumsum()
    df.to_csv("/home/eriks/baboondiversity/data/PG_panu3_recombination_map/ldhat_conversion_chr{}_updated.txt".format(chrom),
              sep=" ", index=False, columns=["chromosome", "position", "COMBINED_rate(cM/Mb)", "Genetic_Map(cM)"])
    #df["Genetic_Map(cM)"] = df["Genetic_Map(cM)"]/3
    #df["COMBINED_rate(cM/Mb)"] = df["COMBINED_rate(cM/Mb)"]/3
    #df.to_csv("/home/eriks/baboondiversity/data/PG_panu3_recombination_map/ldhat_conversion_chr{}_baboon.txt".format(chrom),
    #          sep=" ", index=False, columns=["chromosome", "position", "COMBINED_rate(cM/Mb)", "Genetic_Map(cM)"])
    #df["Genetic_Map(cM)"] = df["Genetic_Map(cM)"]*10
    #df["COMBINED_rate(cM/Mb)"] = df["COMBINED_rate(cM/Mb)"]*10
    #df.to_csv("/home/eriks/baboondiversity/data/PG_panu3_recombination_map/ldhat_conversion_chr{}_10x.txt".format(chrom),
    #          sep=" ", index=False, columns=["chromosome", "position", "COMBINED_rate(cM/Mb)", "Genetic_Map(cM)"])
    print("Finished ", chrom)

Mean cM/Mb 0.9888097729700316
Chromosome-wide 0.7701280280154288
Finished  1
Mean cM/Mb 0.9290944207911565
Chromosome-wide 0.7408483828228898
Finished  2
Mean cM/Mb 1.0038732173227523
Chromosome-wide 0.8051735447546238
Finished  3
Mean cM/Mb 1.4881721057415567
Chromosome-wide 0.9141254045654853
Finished  4
Mean cM/Mb 0.9340696642090354
Chromosome-wide 0.7745681690856315
Finished  5
Mean cM/Mb 0.9481449620380716
Chromosome-wide 0.7499024055771824
Finished  6
Mean cM/Mb 1.1214520221004156
Chromosome-wide 0.8304176469187802
Finished  7
Mean cM/Mb 1.1601366668557036
Chromosome-wide 0.9185725839121722
Finished  8
Mean cM/Mb 1.2738214104745194
Chromosome-wide 0.9624287247401264
Finished  9
Mean cM/Mb 1.4549742000070756
Chromosome-wide 1.0680124203636314
Finished  10
Mean cM/Mb 1.11856403685788
Chromosome-wide 0.8737927000183012
Finished  11
Mean cM/Mb 1.109143391963936
Chromosome-wide 0.8527097839211211
Finished  12
Mean cM/Mb 1.2602574119466523
Chromosome-wide 0.9456472525745562
Finished  13
Mean cM/Mb 1.1060194476386584
Chromosome-wide 0.83608538373327
Finished  14
Mean cM/Mb 1.2393638800810929
Chromosome-wide 0.9163008250646884
Finished  15
Mean cM/Mb 1.6304293103093785
Chromosome-wide 1.1981499208421393
Finished  16
Mean cM/Mb 1.268233103363239
Chromosome-wide 1.062571011702185
Finished  17
Mean cM/Mb 1.2853322782177161
Chromosome-wide 1.0307553678191337
Finished  18
Mean cM/Mb 2.0517836961163476
Chromosome-wide 1.5348746846049168
Finished  19
Mean cM/Mb 1.3813857397215878
Chromosome-wide 1.0752319431367072
Finished  20
Mean cM/Mb 0.9941253005713597
Chromosome-wide 0.729220759415543
Finished  X

In [28]:
df_convert = pd.read_csv("/home/eriks/baboondiversity/data/PG_panu3_phased_chromosomes_4_7_2021/chr8.recombfile", sep=" ")

In [32]:
df_convert["recom.rate.perbp"].mean()

6.797623362539761e-09

In [15]:
chromosome_numbers = ['{}'.format(x) for x in range(1, 21)] + ['X']
total_cM = 0
for chrom in chromosome_numbers:
    df = pd.read_csv("/home/eriks/baboondiversity/data/PG_panu3_recombination_map/ldhat_conversion_chr{}_mmul.txt".format(chrom),
            sep=" ")
    total_cM += df["Genetic_Map(cM)"].max()

In [20]:
scaling_factor = 2754/total_cM #As reported in https://www.sciencedirect.com/science/article/pii/S0888754306001017
scaling_factor

2.140690081996641

In [26]:
for chrom in chromosome_numbers:
    df = pd.read_csv("/home/eriks/baboondiversity/data/PG_panu3_recombination_map/ldhat_conversion_chr{}_mmul.txt".format(chrom),
            sep=" ")
    df.iloc[:,2:] = df.iloc[:,2:]*scaling_factor
    df.to_csv("/home/eriks/baboondiversity/data/PG_panu3_recombination_map/ldhat_conversion_chr{}_scaled.txt".format(chrom),
              sep=" ", index=False, columns=["chromosome", "position", "COMBINED_rate(cM/Mb)", "Genetic_Map(cM)"])

In [27]:
df

       chromosome   position  COMBINED_rate(cM/Mb)  Genetic_Map(cM)
0            chrX        157             13.028454         0.000169
1            chrX        170             13.063419         0.001084
2            chrX        240             13.096456         0.001595
3            chrX        279             13.063775         0.002013
4            chrX        311             12.996629         0.003156
...           ...        ...                   ...              ...
341637       chrX  143689426              3.859450       119.630386
341638       chrX  143691423              3.881499       119.630433
341639       chrX  143691435              3.924955       119.630558
341640       chrX  143691467              3.963844       119.630697
341641       chrX  143691502                   NaN              NaN

[341642 rows x 4 columns]

In [27]:
#Including all individuals. paint05 has the updated clusters
pop_list = []
inclusion_list = []
for i in individuals:
    if i[0] == "S":
        i = i[4:]
        inclusion_list.append(1)
    else:
        if meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["Species"].values[0] == "ursinus (grayfoot)":
            inclusion_list.append(1)
        elif meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["Species"].values[0] == "papio":
            inclusion_list.append(1)
        else:
            inclusion_list.append(1)
    t_pop = meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["Origin"].values[0]
    C_origin = meta_data_samples.loc[meta_data_samples.PGDP_ID == i]["C_origin"].values[0]
    t_pop = C_origin.replace(" ", "_").replace(",", "" )
    pop_list.append(t_pop)

In [29]:
pop_df = pd.DataFrame()
pop_df["ID"] = individuals
pop_df["population"] = pop_list
pop_df["inclusion"] = inclusion_list
pop_df.to_csv("/home/eriks/baboondiversity/data/PG_panu3_phased_chromosomes_4_7_2021/all_IDs.ids",
              sep=" ", header=False, index=False)
pop_df

              ID                     population  inclusion
0      Sci_16066  Cynocephalus_Central_Tanzania          1
1      Sci_16098  Cynocephalus_Central_Tanzania          1
2      Sci_30877                   Anubis_Kenya          1
3      Sci_30977                   Anubis_Kenya          1
4      Sci_34449                  Kindae_Zambia          1
..           ...                            ...        ...
222      PD_0790                  Kindae_Zambia          1
223      PD_0791                  Kindae_Zambia          1
224      PD_0792                  Kindae_Zambia          1
225      PD_0793                  Kindae_Zambia          1
226  PD_0794_BAB                  Kindae_Zambia          1

[227 rows x 3 columns]

Converting ldhat files to genetic maps.
Assuming that effective population size for chrX is 10000.

In [3]:
ldhat_path = "/faststorage/project/primatediversity/data/PG_baboons_pananu3_23_2_2021_ldhat/maps0.01/chrX.map"
uniform_rec_path = "/faststorage/project/baboondiversity/data/haploidified_chrX_males/uniform_rec.recombfile"
phase_file = "/faststorage/project/baboondiversity/data/haploidified_chrX_males/chrX_v3.phase"

In [4]:
ldhat_map = pd.read_csv(ldhat_path, sep="\t")
uni_map = pd.read_csv(uniform_rec_path, sep=" ")

In [5]:
f=open(phase_file)
lines=f.readlines()
pos_line = lines[2]
pos_list = [int(x) for x in pos_line.split(" ")[1:]]
f.close()

Uniform recombination maps

In [30]:
uniform_map = pd.DataFrame(data={"start.pos": pos_list})

In [31]:
uniform_map["recom_uniform"] = 10/(100*1000000)

In [32]:
uniform_map.to_csv("/faststorage/project/baboondiversity/data/haploidified_chrX_males/uniform_rec_10cM.recombfile",
              sep=" ", index=False, columns=["start.pos", "recom_uniform"])

In [33]:
ldhat_map.loc[ldhat_map.POS < 1000000].Mean_rho.mean()

0.4803550816522574

In [34]:
#calculating the cM/Mb
ldhat_map.loc[ldhat_map.POS < 1000000].Mean_rho.mean()*((100*1000/(4*30000))/(100*1000000))

4.002959013768811e-09

In [35]:
uni_map

         start.pos  recom.rate.perbp
0               37      1.000000e-07
1               57      1.000000e-07
2              157      1.000000e-07
3              170      1.000000e-07
4              216      1.000000e-07
...            ...               ...
2923207  143691509      1.000000e-07
2923208  143691526      1.000000e-07
2923209  143691548      1.000000e-07
2923210  143691549      1.000000e-07
2923211  143691566      0.000000e+00

[2923212 rows x 2 columns]

Recombination maps based on ldhat

Math: Ldhat estimates it as 4*Ne*r/kb, and I want it in M/b.
With an additional twist that ldhat does not have all positions present.
I set Ne as 20000 due to it being on chrX, but it could be many other sizes.
Too low recombination rates seem to be troublesome for Globetrotter
This conversion is done by dividing by 4*Ne, and then also dividing by 1000 to go to bases.
#Note: Garrett Hellenthal has confirmed that it should be Morgans/Base

In [6]:
ldhat_map["convert_r"] = ldhat_map.Mean_rho/(4*20000*1000)
#ldhat_map["convert_r"] = ldhat_map.Mean_rho*((100*1000/(4*10000))/(100*1000000))

In [11]:
ldhat_map["i_l"] = np.append(ldhat_map["POS"][1:], ldhat_map["POS"][-1:])-ldhat_map["POS"]
ldhat_map["distance"] = ldhat_map["i_l"]*ldhat_map.convert_r

In [14]:
ldhat_map

,POS,Mean_rho,Median_rho,L95,U95,convert_r,i_l,distance
0,157,1.82583,1.78709,1.44281,2.33608,2.282287e-08,13,2.966974e-07
1,170,1.83073,1.78810,1.48110,2.32684,2.288412e-08,70,1.601889e-06
2,240,1.83536,1.78876,1.50047,2.32684,2.294200e-08,39,8.947380e-07
3,279,1.83078,1.78876,1.50353,2.27161,2.288475e-08,32,7.323120e-07
4,311,1.82137,1.78711,1.51127,2.20721,2.276713e-08,88,2.003507e-06
...,...,...,...,...,...,...,...,...
341637,143689426,0.54087,0.57928,0.04730,0.92660,6.760875e-09,1997,1.350147e-05
341638,143691423,0.54396,0.57928,0.04730,0.93693,6.799500e-09,12,8.159400e-08
341639,143691435,0.55005,0.57981,0.04752,0.94455,6.875625e-09,32,2.200200e-07
341640,143691467,0.55550,0.58136,0.04730,0.94920,6.943750e-09,35,2.430313e-07
341641,143691502,NaN,NaN,NaN,NaN,NaN,0,NaN

In [13]:
np.nansum(ldhat_map.distance)

0.20956565241999997

In [9]:
ldhat_map.convert_r.mean()*100*1000000

0.198825060114272

Many positions are not present in the recombination map made by Juraj, so these spaces have to be filled.

In [9]:
ld_hat_i = 0
ldhat_pos = ldhat_map["POS"][0]
ld_hat_prev_pos = 0
last_ldhat = int(ldhat_map["POS"][-2:-1])
last_uni = int(uni_map["start.pos"][-1:])
recom_rate = []
next_pos = 0
for i, row in uni_map.iterrows():
    current_pos = row["start.pos"]
    if current_pos >= ldhat_pos and current_pos < last_ldhat:
        ld_hat_i += 1
        ld_hat_prev_pos = ldhat_pos
        ldhat_pos = ldhat_map["POS"][ld_hat_i]
    if last_uni == next_pos:
        recom_rate.append(0)
    else:
        next_pos = uni_map["start.pos"][i+1]
        recom_rate.append(ldhat_map["convert_r"][ld_hat_i]) #*(next_pos-current_pos)/(ldhat_pos-ld_hat_prev_pos))
        # Made an error by scaling the recombination rate, as it already is position scaled.

In [10]:
uni_map["recom_variable"] = recom_rate

In [11]:
uni_map["recom_variable"].mean()

5.064152996429954e-09

uni_map.to_csv("/faststorage/project/baboondiversity/data/haploidified_chrX_males/approx_rec_all_pos_centimorgan.recombfile",
              sep=" ", index=False, columns=["start.pos", "recom_variable"])

Now I have the opposite problem - when removing sites with missing state, the recombination file is too big.
It can just be subset.

In [12]:
len(uni_map), len(pos_list), len(pos_list)/len(uni_map)

(2923212, 2440624, 0.8349117340788147)

#Alternative solution, shown below.
sum_recomb = []
current_i = 0
current_recomb = 0
last_pos = pos_list[-1]
for i, row in uni_map.loc[uni_map["start.pos"] >= pos_list[0]].iterrows():
    if pos_list[current_i+1] == last_pos:
        sum_recomb.append(current_recomb)
        sum_recomb.append(0)
        break
    if row["start.pos"] >= pos_list[current_i+1]:
        sum_recomb.append(current_recomb)
        current_recomb = 0
        current_i += 1
    current_recomb = row.recom_variable

In [13]:
subset_map = uni_map.loc[uni_map["start.pos"].isin(pos_list)]

In [14]:
sum(subset_map["recom_variable"]), (subset_map["recom_variable"]).mean()

(0.010594553426710939, 4.340919955989396e-09)

In [17]:
subset_map["p_l"] = np.append(subset_map["start.pos"][1:], subset_map["start.pos"][-1:])-subset_map["start.pos"]

/home/eriks/miniconda3/envs/baboondiversity/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
np.nansum(subset_map["recom_variable"]*subset_map["p_l"])/subset_map["start.pos"][-1:].values

array([4.68590834e-09])

In [15]:
sum(uni_map["recom_variable"]), (uni_map["recom_variable"]).median()

(0.014803592809073812, 1.5e-11)

In [32]:
#Scaling it up to a reasonable number
#subset_map["recom_variable"] = subset_map["recom_variable"]*10
#(subset_map["recom_variable"]).mean()

/home/eriks/miniconda3/envs/baboondiversity/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

3.255689966992048e-08

In [37]:
(subset_map["recom_variable"]).mean(), 2.5/(100*1000000)

(3.255689966992048e-08, 2.5e-08)

In [23]:
subset_map.to_csv("/faststorage/project/baboondiversity/data/haploidified_chrX_males/mmulrate_chrX.recombfile",
              sep=" ", index=False, columns=["start.pos", "recom_variable"])

In [39]:
subset_map[:10], pos_list[:10]

(      start.pos  recom.rate.perbp  recom_variable
 1011      21875      1.000000e-07    4.528875e-08
 1112      24167      1.000000e-07    4.859575e-08
 1487      34160      1.000000e-07    3.757500e-10
 1657      37427      1.000000e-07    5.564600e-08
 1936      42626      1.000000e-07    2.522525e-08
 1981      43213      1.000000e-07    2.528425e-08
 2638      57077      1.000000e-07    2.545575e-08
 3982      86997      1.000000e-07    3.300000e-11
 4183      92909      1.000000e-07    3.912500e-10
 4214      93651      1.000000e-07    3.912500e-10,
 [21875, 24167, 34160, 37427, 42626, 43213, 57077, 86997, 92909, 93651])

A couple of checks of the uni_map and sum_map

In [40]:
sum(sum_map.recom_variable <= 0.000000000000001)

NameError: name 'sum_map' is not defined

In [ ]:
uni_map

In [ ]:
g = sns.histplot(data=subset_map[:100000000], x="recom_variable", bins=np.logspace(np.log10(0.0000000000001),np.log10(0.0001), 50))
g.set_xscale("log")

In [ ]:
subset_map["recom_variable"].mean(), subset_map["recom_variable"].median()

New implementation to generate recombination rate files - setting the overall recombination rate to 0.5cM/Mb (or 0.45cM/Mb).
Updated to use positions in the phase files

In [11]:
ldhat_path = "/home/eriks/baboondiversity/data/PG_panu3_recombination_map/chr{}.map"

phase_file = "/home/eriks/baboondiversity/data/PG_panu3_phased_chromosomes_4_7_2021/chrX/chrX.females.v2.phase"

In [12]:
read_phase = pd.read_csv(phase_file)

In [13]:
read_phase

                                                   196
0                                              2806137
1    P 37 57 157 170 216 226 240 279 280 292 311 31...
2    0001111101111111011111111111111111111111111111...
3    0011111111111111111111111111111111111111111111...
4    0011111111111110111111111111011111111111111111...
..                                                 ...
193  1111110111111111111111111111111111111111111111...
194  1111110111111101111111111111111111111111111111...
195  1111111111111111111111111111111111111111111111...
196  1101110111111101111111111111111011110111111111...
197  1111111111111111111111111111111111111111111111...

[198 rows x 1 columns]

In [10]:
phase_file = "/home/eriks/baboondiversity/data/PG_panu3_phased_chromosomes_4_7_2021/chr20/chr20.females.phase"
read_phase_20 = pd.read_csv(phase_file)
read_phase_20

                                                   196
0                                              1489312
1    P 19 73 149 236 283 437 450 471 501 732 822 85...
2    1111011111001111111111111111111111111111111110...
3    1111111111111111111111111111111111111111111111...
4    1111011111111111111111111111111111111111111111...
..                                                 ...
193  1111111111111111101111111111111111111111111111...
194  1111111110111111111111111110111101111111111111...
195  1111111111111111111111111111111101111111111111...
196  1011111111111111101111111110111111101111111111...
197  1111111111111111111111111111111111111111111111...

[198 rows x 1 columns]

In [3]:
Ne = 8000
df_l = []
chromosome_numbers = ['{}'.format(x) for x in range(1, 21)] + ['X']
chrom_sizes = []
for chrom in chromosome_numbers:
    if chrom == "X":
        Ne = Ne/1.5
    ldhat_map = pd.read_csv(ldhat_path.format(chrom), sep="\t")
    zarr_dir = "/faststorage/project/baboondiversity/data/PG_panu3_zarr_12_03_2021/callset.zarr/chr{}"
    #Opening the zarr data
    callset = zarr.open_group(zarr_dir.format(chrom), mode="r")
    pos_array = callset["variants/POS"][:]
    ldhat_map["cM/Mb_temp"] = ldhat_map.Mean_rho*1000*100/(4*Ne)
    print("Mean cM/Mb", ldhat_map["cM/Mb_temp"].mean())
    ldhat_map["i_l"] = np.append(ldhat_map["POS"][1:], ldhat_map["POS"][-1:])-ldhat_map["POS"]
    print("Chromosome-wide", np.nansum(ldhat_map["i_l"]*ldhat_map["cM/Mb_temp"])/sum(ldhat_map["POS"][-1:]))
    print("Number of ldhat pos and SNP", len(ldhat_map), len(pos_array))
    extended_recomb = []
    i = 0
    max_i = len(ldhat_map)-1
    for pos in pos_array:
        if i == max_i:
            extended_recomb.append(ldhat_map["cM/Mb_temp"][i-1])
        elif pos >= ldhat_map["POS"][i]:
            i += 1
            extended_recomb.append(ldhat_map["cM/Mb_temp"][max(i-1, 0)])
        else:
            extended_recomb.append(ldhat_map["cM/Mb_temp"][max(i-1, 0)])
    pos_l = np.append(pos_array[1:], pos_array[-1:])-pos_array
    df = (pd.DataFrame(data={"position": pos_array, "COMBINED_rate(cM/Mb)": extended_recomb, "pos_l": pos_l}))
    df["chromosome"] = "chr{}".format(chrom)
    df["Genetic_Map(cM)"] = (df["pos_l"]*df["COMBINED_rate(cM/Mb)"]/1000000).cumsum()
    chrom_size = df["Genetic_Map(cM)"].max()
    print("Size of chromosome: ", chrom_size)
    chrom_sizes.append(chrom_size)
    df.to_csv("/home/eriks/baboondiversity/data/PG_panu3_recombination_map/genetic_map_chr{}.txt".format(chrom),
              sep=" ", index=False, columns=["chromosome", "position", "COMBINED_rate(cM/Mb)", "Genetic_Map(cM)"])
    df_l.append(df)
    print("Finished ", chrom)

Mean cM/Mb 1.1081500395853456
Chromosome-wide 0.8466533749967489
number of ldhat pos and SNP 1103319 7250857
Size of chromosome:  184.11208639592877
Finished  1
Mean cM/Mb 1.0445364659277043
Chromosome-wide 0.8182253607261428
number of ldhat pos and SNP 992346 6391700
Size of chromosome:  154.05922389395948
Finished  2
Mean cM/Mb 1.1233773554727262
Chromosome-wide 0.8826712758186103
number of ldhat pos and SNP 949293 6303321
Size of chromosome:  160.07422060481807
Finished  3
Mean cM/Mb 1.6689784176780764
Chromosome-wide 1.0065437077960786
number of ldhat pos and SNP 954803 5846808
Size of chromosome:  167.16145866411682
Finished  4
Mean cM/Mb 1.0527068834966349
Chromosome-wide 0.8532896739047849
number of ldhat pos and SNP 1035958 6672340
Size of chromosome:  156.7852466968261
Finished  5
Mean cM/Mb 1.0653967997714047
Chromosome-wide 0.8260949000200527
number of ldhat pos and SNP 915293 6101232
Size of chromosome:  144.8952998028145
Finished  6
Mean cM/Mb 1.2570424871228825
Chromosome-wide 0.9130931933458123
number of ldhat pos and SNP 852994 5497845
Size of chromosome:  148.74200080782038
Finished  7
Mean cM/Mb 1.291706783748178
Chromosome-wide 1.0031337886956477
number of ldhat pos and SNP 789090 4992526
Size of chromosome:  140.78658805541693
Finished  8
Mean cM/Mb 1.4217262263996098
Chromosome-wide 1.0566115331330526
number of ldhat pos and SNP 710215 4413448
Size of chromosome:  132.91040400675328
Finished  9
Mean cM/Mb 1.6176641570631636
Chromosome-wide 1.167801869070945
number of ldhat pos and SNP 501732 3265543
Size of chromosome:  106.66150408541952
Finished  10
Mean cM/Mb 1.2493144177788333
Chromosome-wide 0.9564647440805336
number of ldhat pos and SNP 692648 4514250
Size of chromosome:  127.17192042623016
Finished  11
Mean cM/Mb 1.2380134451444456
Chromosome-wide 0.9342455933472459
number of ldhat pos and SNP 680135 4393550
Size of chromosome:  119.86555070331023
Finished  12
Mean cM/Mb 1.401705771986961
Chromosome-wide 1.0326429291334065
number of ldhat pos and SNP 555190 3659423
Size of chromosome:  108.42068674918231
Finished  13
Mean cM/Mb 1.2375720214523143
Chromosome-wide 0.9170238717831042
number of ldhat pos and SNP 632438 4219995
Size of chromosome:  114.18179114655607
Finished  14
Mean cM/Mb 1.3772337274651512
Chromosome-wide 1.000826382989968
number of ldhat pos and SNP 567128 3728324
Size of chromosome:  108.14251563413524
Finished  15
Mean cM/Mb 1.8021595438824485
Chromosome-wide 1.3010919248232555
number of ldhat pos and SNP 389103 2633567
Size of chromosome:  97.5328924020463
Finished  16
Mean cM/Mb 1.4048884501386325
Chromosome-wide 1.156511777205329
number of ldhat pos and SNP 532226 3451313
Size of chromosome:  105.76954506008182
Finished  17
Mean cM/Mb 1.4345600489271264
Chromosome-wide 1.1281059483136886
number of ldhat pos and SNP 416158 2682519
Size of chromosome:  81.81711228779926
Finished  18
Mean cM/Mb 2.272656734478633
Chromosome-wide 1.6664796069235384
number of ldhat pos and SNP 300324 2028906
Size of chromosome:  85.63579694903378
Finished  19
Mean cM/Mb 1.5270245590957532
Chromosome-wide 1.1694902115147143
number of ldhat pos and SNP 398798 2792465
Size of chromosome:  84.2590123377163
Finished  20
Mean cM/Mb 0.8440965954573236
Chromosome-wide 0.5985395787292063
number of ldhat pos and SNP 341642 2923212
Size of chromosome:  86.0063884717931
Finished  X

In [48]:
(df_l[20]["pos_l"]*df_l[20]["COMBINED_rate(cM/Mb)"]/1000000).cumsum()

0           0.000195
1           0.001172
2           0.001299
3           0.001748
4           0.001846
             ...
2923207    86.006285
2923208    86.006342
2923209    86.006344
2923210    86.006388
2923211    86.006388
Length: 2923212, dtype: float64

A quick workflow to handle rfmix.

In [3]:
chromosome_numbers = ['{}'.format(x) for x in range(1, 21)] + ['X']
input_path = "/home/eriks/baboondiversity/data/PG_panu3_recombination_map/genetic_map_chr{}.txt"
g_map_l = []
for chrom in chromosome_numbers:
    genetic_map = pd.read_csv(input_path.format(chrom), sep=" ")
    g_map_l.append(genetic_map)

In [4]:
genetic_map_all = pd.concat(g_map_l)

In [5]:
rfmix_dir = "/home/eriks/baboondiversity/data/PG_panu3_phased_chromosomes_4_7_2021/rfmix_input/"
genetic_map_all = genetic_map_all.reindex(columns=["chromosome", "position",
                                                   "Genetic_Map(cM)", "COMBINED_rate(cM/Mb)"])

In [6]:
genetic_map_all

        chromosome   position  Genetic_Map(cM)  COMBINED_rate(cM/Mb)
0             chr1        106         0.000018              0.330531
1             chr1        160         0.000022              0.330531
2             chr1        173         0.000027              0.330531
3             chr1        188         0.000046              0.330531
4             chr1        244         0.000046              0.330531
...            ...        ...              ...                   ...
2923207       chrX  143691509        86.006285              2.588344
2923208       chrX  143691526        86.006342              2.588344
2923209       chrX  143691548        86.006344              2.588344
2923210       chrX  143691549        86.006388              2.588344
2923211       chrX  143691566        86.006388              2.588344

[93763144 rows x 4 columns]

In [8]:
genetic_map_all.to_csv(rfmix_dir+"all_chr_recombination_map.txt", sep="\t", index=False)

In [9]:
autosome_map = genetic_map_all.loc[genetic_map_all.chromosome != "chrX"]
autosome_map

        chromosome  position  Genetic_Map(cM)  COMBINED_rate(cM/Mb)
0             chr1       106         0.000018              0.330531
1             chr1       160         0.000022              0.330531
2             chr1       173         0.000027              0.330531
3             chr1       188         0.000046              0.330531
4             chr1       244         0.000046              0.330531
...            ...       ...              ...                   ...
2792460      chr20  72046365        84.258820              0.099375
2792461      chr20  72046419        84.258822              0.099375
2792462      chr20  72046439        84.258836              0.099375
2792463      chr20  72046588        84.259012              0.099375
2792464      chr20  72048358        84.259012              0.099375

[90839932 rows x 4 columns]

In [10]:
autosome_map.to_csv(rfmix_dir+"autosome_recombination_map.txt", sep="\t", index=False)

Also have to alter the masks to work with Relate

In [80]:
path_to_mask = "/home/eriks/baboondiversity/data/callability_panu3_26_04_2021/Panu_3.0_callability_mask_chr{}.fa"
chromosome_numbers = ['{}'.format(x) for x in range(1, 21)] + ['X']
for chrom in chromosome_numbers:
    line_l = 0
    with open(path_to_mask.format(chrom)) as f:
        o = open("/home/eriks/baboondiversity/data/callability_panu3_26_04_2021/panu3.npmask.chr{}.fa".format(chrom), "w")
        for line in f:
            if line_l != 0:
                l = "".join([x if x == "N" else "P" for x in line[:-1]])+"\n"
            else:
                l = line
            o.write(l)
            line_l += 1
    o.close()
    print(line_l)

3624316
3138061
3022311
2767908
3062372
2923338
2714999
2339112
2096417
1522169
2216008
2138163
1749835
2075221
1800821
1249360
1523322
1208837
856460
1200845
2394862